<a href="https://colab.research.google.com/github/jason-howald/Math-125/blob/master/Iris_T_test_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Packages and data:

In [3]:
import pandas as pd
import seaborn as sns
from scipy import stats
from math import sqrt

df = pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")
df.groupby('species').describe()

           sepal_length                               ... petal_width
                  count   mean       std  min    25%  ...         min  25%  50%  75%  max
species                                               ...
setosa             50.0  5.006  0.352490  4.3  4.800  ...         0.1  0.2  0.2  0.3  0.6
versicolor         50.0  5.936  0.516171  4.9  5.600  ...         1.0  1.2  1.3  1.5  1.8
virginica          50.0  6.588  0.635880  4.9  6.225  ...         1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

## Your work

1. Execute the code cell above. Among other things, the report shows the mean, count, and standard deviations of the petal_length variable, broken down by different species of iris in Fischer's iris dataset.

2. The sample mean petal_length of the Virginica species is a bit over 5.5 centimeters. Perform a t-test to assess the hypothesis "The average Virginica petal length is greater than 5cm". Do your work below or in another calculator system. Report results in Webwork.

3. The sample mean petal_length of the Versicolor species is a bit over 4 centimeters. Perform a t-test to assess the hypothesis comparing the two means: "The average Virginica petal length is greater than the average Versicolor petal length". Report results in Webwork.