<a href="https://colab.research.google.com/github/jason-howald/Math-125/blob/master/The_t_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from scipy import stats
from math import sqrt

# The t-test

## Recall the Z-test for a mean


- $H_A$: $\mu > 42$
- $H_0$: $\mu = 42$
- Test mechanics
  - Sampling
  - $n = 25$
  - $\bar{X} = 50$
  - $s = 20$
  - $SE = \frac{\sigma}{\sqrt{n}}$  
    - **Here we plug in $s$ for $\sigma$.** 
  - $Z = \frac{\text{measured} - \text{expected}}{SE}$
  - Find p-value using:
    - [CDF Calculator](https://homepage.divms.uiowa.edu/~mbognar/applets/normal.html)
    - ```1 - stats.norm.cdf(Z)```
    - Z-table

Or sometimes we test two populations against each other. For example:

- $H_A$: $\mu_1 < \mu_2$
- $H_0$: $\mu_1 = \mu_2$
- Test mechanics
  - Sampling
  - $n_1 = 100$, $n_2 = 50$
  - $\bar{X}_1 = 50$, $\bar{X}_2 = 56$
  - $s_1 = 20$, $s_2 = 25$
  - $SE$: 
    - $SE_1 = \frac{\sigma_1}{\sqrt{n_1}}$
        - **Here we plug in $s_1$ for $\sigma_1$.** 
    - $SE_2 = \frac{\sigma_2}{\sqrt{n_2}}$
        - **Here we plug in $s_2$ for $\sigma_2$.** 
    - $SE = \sqrt{SE_1^2 + SE_2^2}$ 
  - $Z = \frac{\text{measured difference} - \text{expected difference}}{SE}$
  - Find p-value using:
    - [Normal CDF Calculator](https://homepage.divms.uiowa.edu/~mbognar/applets/normal.html)
    - ```1 - stats.norm.cdf(Z)```
    - Z-table

## The Problem with the Z-test for mean

$\sigma = $ population-wide standard deviation.

$s = $ sample standard deviation.

In $SE = \sigma/\sqrt{n}$, we use $s$ for $\sigma$. This underestimates the standard error and miscalculates the Z-score.

## The t-test solution

We cannot correct our estimation $\sigma \approx s$. (Why?) But we can correct the distribution to which we compare it. 

**Solution:** 
  - The **t-statistic** is the **Z-score**, as above.
  - The **t-distribution** a modified bell curve, designed to account for the error of using $s$ for $\sigma$. 
  - Like the $\chi^2$ distribution, the t-distribution depends on **degrees of freedom**, which is $n-1$ for a one-sample test (or the lower value of $n-1$ for two samples -- see below).  

### Steps of a t-test
  - Identical to a Z-test for a mean or a difference of means, except...
  - Find p-value using:
    - [t-test CDF Calculator](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)
    - ```1 - stats.t.cdf(x,df)```
    - t-table (from textbook, or below)

...or...

- Simply use ```stats.ttest_ind``` or ```stats.ttest_1samp``` which will perform the complete test from raw data.

# Worked Examples

## Birth weight -- one-sample test

The dataset below shows birth weight for 1000 newborns. The average is greater than 7 pounds. Is it statistically significantly greater than 7?

In [0]:
df = pd.read_csv("https://www.openintro.org/stat/data/nc.csv")
df.describe()

             fage         mage       weeks      visits      gained      weight
count  829.000000  1000.000000  998.000000  991.000000  973.000000  1000.00000
mean    30.255730    27.000000   38.334669   12.104945   30.325797     7.10100
std      6.763766     6.213583    2.931553    3.954934   14.241297     1.50886
min     14.000000    13.000000   20.000000    0.000000    0.000000     1.00000
25%     25.000000    22.000000   37.000000   10.000000   20.000000     6.38000
50%     30.000000    27.000000   39.000000   12.000000   30.000000     7.31000
75%     35.000000    32.000000   40.000000   15.000000   38.000000     8.06000
max     55.000000    50.000000   45.000000   30.000000   85.000000    11.75000

In [0]:
#Calculate xbar, s, and n
xbar = df.weight.mean()
s = df.weight.std()
n = df.weight.count()

#Calculate SE and Z (aka t)
SE = s/sqrt(n)
Z = (xbar - 7)/SE

print(f"xbar = {xbar:.3f}, s = {s:.3f}, n = {n}")
print(f"SE = {SE:.3f}, Z = {Z:.3f}")

xbar = 7.101, s = 1.509, n = 1000
SE = 0.048, Z = 2.117

### Resolving the test

**Option 1:** ```stats.t.cdf()```

In [0]:
# Note! Degrees of freedom = 999
pvalue = 1-stats.t.cdf(Z,n-1) 
pvalue

0.01726331605634479

**Option 2:** Online CDF calculator

[t CDF Calculator](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

**Option 3:** T-table with critical value

In [0]:
#Recalculate and print a standard t table.
alphas = [0.1,0.05,0.025,0.01,0.005,0.001]
dof = [i for i in range(2,21)] + [5*i for i in range(5,21)] + [100*i for i in range(2,11)]  
ttable = pd.DataFrame({alpha:{deg:round(stats.t.ppf(1-alpha,deg),2) for deg in dof} for alpha in alphas})
ttable

      0.100  0.050  0.025  0.010  0.005  0.001
2      1.89   2.92   4.30   6.96   9.92  22.33
3      1.64   2.35   3.18   4.54   5.84  10.21
4      1.53   2.13   2.78   3.75   4.60   7.17
5      1.48   2.02   2.57   3.36   4.03   5.89
6      1.44   1.94   2.45   3.14   3.71   5.21
7      1.41   1.89   2.36   3.00   3.50   4.79
8      1.40   1.86   2.31   2.90   3.36   4.50
9      1.38   1.83   2.26   2.82   3.25   4.30
10     1.37   1.81   2.23   2.76   3.17   4.14
11     1.36   1.80   2.20   2.72   3.11   4.02
12     1.36   1.78   2.18   2.68   3.05   3.93
13     1.35   1.77   2.16   2.65   3.01   3.85
14     1.35   1.76   2.14   2.62   2.98   3.79
15     1.34   1.75   2.13   2.60   2.95   3.73
16     1.34   1.75   2.12   2.58   2.92   3.69
17     1.33   1.74   2.11   2.57   2.90   3.65
18     1.33   1.73   2.10   2.55   2.88   3.61
19     1.33   1.73   2.09   2.54   2.86   3.58
20     1.33   1.72   2.09   2.53   2.85   3.55
25     1.32   1.71   2.06   2.49   2.79   3.45
30     1.31   1.70   2.04   2.46   2.75   3.39
35     1.31   1.69   2.03   2.44   2.72   3.34
40     1.30   1.68   2.02   2.42   2.70   3.31
45     1.30   1.68   2.01   2.41   2.69   3.28
50     1.30   1.68   2.01   2.40   2.68   3.26
55     1.30   1.67   2.00   2.40   2.67   3.25
60     1.30   1.67   2.00   2.39   2.66   3.23
65     1.29   1.67   2.00   2.39   2.65   3.22
70     1.29   1.67   1.99   2.38   2.65   3.21
75     1.29   1.67   1.99   2.38   2.64   3.20
80     1.29   1.66   1.99   2.37   2.64   3.20
85     1.29   1.66   1.99   2.37   2.63   3.19
90     1.29   1.66   1.99   2.37   2.63   3.18
95     1.29   1.66   1.99   2.37   2.63   3.18
100    1.29   1.66   1.98   2.36   2.63   3.17
200    1.29   1.65   1.97   2.35   2.60   3.13
300    1.28   1.65   1.97   2.34   2.59   3.12
400    1.28   1.65   1.97   2.34   2.59   3.11
500    1.28   1.65   1.96   2.33   2.59   3.11
600    1.28   1.65   1.96   2.33   2.58   3.10
700    1.28   1.65   1.96   2.33   2.58   3.10
800    1.28   1.65   1.96   2.33   2.58   3.10
900    1.28   1.65   1.96   2.33   2.58   3.10
1000   1.28   1.65   1.96   2.33   2.58   3.10

**...Or...** Fully automated test from data:

In [0]:
stats.ttest_1samp(df.weight,7)

Ttest_1sampResult(statistic=2.1167635856946134, pvalue=0.034526632112740416)

**...Why is the p-value different!?**

## Blood transfusions -- two sample test

30 Mice receive blood transfusions. Their energy level is later measured by runtime on an exercise wheel. Mice receiving younger blood run longer. Is the result significant?

This requires a two sample test. The SE will be more complicated.

In [0]:
#Load data and split into old/young samples
df = pd.read_csv("http://www.lock5stat.com/datasets/YoungBlood.csv")
old = df[df.Plasma == 'Old']['Runtime']
young = df[df.Plasma == 'Young']['Runtime']

#Calculate xbar, s, n for old sample
xbar1 = old.mean()
s1 = old.std()
n1 = old.count()

#Calculate xbar, s, n for young sample
xbar2 = young.mean()
s2 = young.std()
n2 = young.count()

#Calculate SE1, SE2, SE
SE1 = s1 / sqrt(n1)
SE2 = s2 / sqrt(n2)
SE = sqrt(SE1**2+SE2**2)

#Calculate Z-score:
Z = ((xbar2-xbar1) - 0) / SE
print(n1,n2)
print(Z)

13 17
3.1996880278567925

**Resolving the test**

**Option 1:**

In [0]:
pvalue = 1-stats.t.cdf(Z,12)
pvalue

0.003818479527244345

**Option 2:** Online CDF calculator

[t CDF Calculator](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

**Option 3: T table**

In [0]:
ttable

### Alternative: Fully automated test

In [0]:
stats.ttest_ind(young, old, equal_var = False)

Ttest_indResult(statistic=3.199688027856792, pvalue=0.0035016731537913415)

The p-value will be slightly different because:
- It calculate a two-sided test. Divide it by two if you want one-sided.
- It uses a more sophisticated formula for degrees of freedom.

## Marriage ages -- paired sample test

Are husbands older than their wives?

### The Data

First we load the data

In [0]:
df = pd.read_csv("http://www.lock5stat.com/datasets/MarriageAges.csv")
df

     Husband  Wife
0         53    50
1         38    34
2         46    44
3         30    36
4         31    23
..       ...   ...
100       20    18
101       67    68
102       29    27
103       49    51
104       45    40

[105 rows x 2 columns]

### The Quick and Easy and Wrong way

- We use `stats.ttest_ind()`
- Unpaired test, not advisable here.
- We could also do this by hand, like the blood transfusions example.

In [0]:
stats.ttest_ind(df['Husband'],df['Wife'])

Ttest_indResult(statistic=1.805503202597793, pvalue=0.0724418917066719)

Using an unpaired test, we get a p-value greater than 0.05, so we do not have a statistically significant result.

### The Right Way

**The Flaw:** We have compared husbands, *generally*, to wives, *generally*. There is no strong trend that shows that the men are older than the women. 

**The Fix:** 
  - We should compare husbands, individually, to their wives, individually. 
  - We should reason about age differences within each marriage.
  - The data are **paired**: Each husband has a wife and each wife has a husband.

**The process:** Instead of treating our data as two independent samples, we treat it as **one variable** of age **differences**:

#### Fully Automated:

In [0]:
df['Difference'] = df['Husband']-df['Wife']
stats.ttest_1samp(df['Difference'],0)

Ttest_1sampResult(statistic=5.802524207370071, pvalue=7.120798132262502e-08)

The p-value is very very small. We conclude that husbands are older than their wives.

#### By hand:

In [0]:
#Calculate xbar, s, and n
xbar = df.Difference.mean()
s = df.Difference.std()
n = df.Difference.count()

#Calculate SE and Z (aka t)
SE = s/sqrt(n)
Z = (xbar - 0)/SE

print(f"xbar = {xbar:.3f}, s = {s:.3f}, n = {n}")
print(f"SE = {SE:.3f}, Z = {Z:.3f}")

xbar = 2.829, s = 4.995, n = 105
SE = 0.487, Z = 5.803

##### Resolving the test

**Option 1:**

In [0]:
1-stats.t.cdf(Z,104)

3.5603990644617056e-08

**Option 2:** Online CDF calculator

[t CDF Calculator](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

**Option 3: T table**

In [0]:
ttable

      0.100  0.050  0.025  0.010  0.005  0.001
2      1.89   2.92   4.30   6.96   9.92  22.33
3      1.64   2.35   3.18   4.54   5.84  10.21
4      1.53   2.13   2.78   3.75   4.60   7.17
5      1.48   2.02   2.57   3.36   4.03   5.89
6      1.44   1.94   2.45   3.14   3.71   5.21
7      1.41   1.89   2.36   3.00   3.50   4.79
8      1.40   1.86   2.31   2.90   3.36   4.50
9      1.38   1.83   2.26   2.82   3.25   4.30
10     1.37   1.81   2.23   2.76   3.17   4.14
11     1.36   1.80   2.20   2.72   3.11   4.02
12     1.36   1.78   2.18   2.68   3.05   3.93
13     1.35   1.77   2.16   2.65   3.01   3.85
14     1.35   1.76   2.14   2.62   2.98   3.79
15     1.34   1.75   2.13   2.60   2.95   3.73
16     1.34   1.75   2.12   2.58   2.92   3.69
17     1.33   1.74   2.11   2.57   2.90   3.65
18     1.33   1.73   2.10   2.55   2.88   3.61
19     1.33   1.73   2.09   2.54   2.86   3.58
20     1.33   1.72   2.09   2.53   2.85   3.55
25     1.32   1.71   2.06   2.49   2.79   3.45
30     1.31   1.70   2.04   2.46   2.75   3.39
35     1.31   1.69   2.03   2.44   2.72   3.34
40     1.30   1.68   2.02   2.42   2.70   3.31
45     1.30   1.68   2.01   2.41   2.69   3.28
50     1.30   1.68   2.01   2.40   2.68   3.26
55     1.30   1.67   2.00   2.40   2.67   3.25
60     1.30   1.67   2.00   2.39   2.66   3.23
65     1.29   1.67   2.00   2.39   2.65   3.22
70     1.29   1.67   1.99   2.38   2.65   3.21
75     1.29   1.67   1.99   2.38   2.64   3.20
80     1.29   1.66   1.99   2.37   2.64   3.20
85     1.29   1.66   1.99   2.37   2.63   3.19
90     1.29   1.66   1.99   2.37   2.63   3.18
95     1.29   1.66   1.99   2.37   2.63   3.18
100    1.29   1.66   1.98   2.36   2.63   3.17
200    1.29   1.65   1.97   2.35   2.60   3.13
300    1.28   1.65   1.97   2.34   2.59   3.12
400    1.28   1.65   1.97   2.34   2.59   3.11
500    1.28   1.65   1.96   2.33   2.59   3.11
600    1.28   1.65   1.96   2.33   2.58   3.10
700    1.28   1.65   1.96   2.33   2.58   3.10
800    1.28   1.65   1.96   2.33   2.58   3.10
900    1.28   1.65   1.96   2.33   2.58   3.10
1000   1.28   1.65   1.96   2.33   2.58   3.10